<div class="preferences">
  <div class="row">
    <div class="col-xs-4">
      <div class="text-center">
        <label for="adv[c]">Category</label>
        <input type="text" name="adv[c]" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="adv[mood]">Mood</label>
      <input type="text" name="adv[mood]" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="adv[country]">Country</label>
      <input type="text" name="adv[country]" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="text-center">
      <label for="adv[a]">Actor</label>
      <input type="text" name="adv[a]" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="adv[d]">Director</label>
      <input type="text" name="adv[d]" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="adv[studio]">Studio</label>
      <input type="text" name="adv[studio]" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">

      <label for="adv[year]">Year</label>
      <div>
        <input type="range" name="adv[year]" multiple value="10,80">
      </div>

    </div>
    <div class="col-xs-6">

      <label for="adv[duration]">Duration</label>
      <div>
        <input type="range" name="adv[duration]" multiple value="10,80">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="adv[recent]"><input type="checkbox" name="adv[recent]" class="form-control">Not seen</label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="adv[seen]"><input type="checkbox" name="adv[seen]" class="form-control">Already seen</label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="adv[netflix]"><input type="checkbox" name="adv[netflix]" class="form-control">Netflix</label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="adv[amazon]"><input type="checkbox" name="adv[amazon]" class="form-control">Amazon</label>
      </div>
    </div>
  </div>
</div>
