<div class="card-home" id="card-home">
  <h2 id='homepage-title'>No more Netflix scrolling ?</h2>
  <h2 id='homepage-title'>Find your movie here!</h2>
<br>
  <div>
    <input type="text" name="q" placeholder="Genre, actor, duration, mood..." class="form-input">
    <input type="submit" value="Find !" class="btn-search">
  </div>
  <br>
  <p class="color-grey">Advanced Search</p>
  <div id='adv-search' class='btn-adv-search'><i class="fas fa-angle-double-down"></i></div>
</div>
