<div class="card-home" id="card-home">
  <h2 id='homepage-title'>HOW DO YOU FEELM ?</h2>
  <i class="fab fa-youtube"></i>
  <div class="form-inline text-center">
    <form action="<%= discover_path %>">
      <input type="text" name="q" placeholder="Genre, actor, duration, mood..." class="form-control">
      <input type="submit" value="Search" class="btn-search">
    </form>
  </div><br>
  <p class="text-no-wrap">Advanced Search</p>
  <button id='adv-search' class='btn-adv-search'><i class="fas fa-angle-double-down"></i></button>
</div>
