<div class="card-home" id="card-home">
  <h2 id='homepage-title'>HOW DO YOU FEELM ?</h2>
    <i class="fab fa-youtube"></i>
    <div class="text-center">
      <br>
      <form action="<%= discover_path %>">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="border-color: red;"><br>
            <input type="text" name="q" placeholder="Genre, actor, duration, mood..." class="form-control">
            <input type="submit" value="Search" class="btn-medium">
          </div>
        </div>
      </form>

    </div>
</div>
