<div class="preferences">
  <div class="row">
    <div class="col-xs-4">
      <div class="text-center">
        <label for="category">Category</label>
        <input type="text" name="category" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="mood">Mood</label>
      <input type="text" name="mood" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="country">Country</label>
      <input type="text" name="country" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="text-center">
      <label for="actor">Actor</label>
      <input type="text" name="actor" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="director">Director</label>
      <input type="text" name="director" class="form-control">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center">
      <label for="studio">Studio</label>
      <input type="text" name="studio" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="text-center">
      <label for="year">Year</label>
      <input type="range" name="year" class="form-control" multiple value="10,80">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="text-center">
      <label for="duration">Duration</label>
      <input type="range" name="duration" class="form-control" multiple value="10,80">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="recent"><input type="checkbox" name="recent" class="form-control">Not seen</label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="seen"><input type="checkbox" name="country" class="form-control">Already seen</label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="netflix"><input type="checkbox" name="netflix" class="form-control">Netflix</label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-inline text-center">
      <label for="amazon"><input type="checkbox" name="amazon" class="form-control">Amazon</label>
      </div>
    </div>
  </div>
</div>
