// Define variables for your color scheme

// For example:
$red: #B50707;
$blue: #010F1C;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$grey: #d5d5d5;
$agora-gray: #303036;
$light-gray: #F4F4F4;
$white: #FFFAFF;
$black: #050505
