.wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}

.wrapper-container {
  padding: 50px 100px;
}

.media strong {
  font-size: 28px
}

.media p {
  font-size: 20px;
}

.video-header {
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.spacer-horizontal {
  margin: 0 25px;
}

.spacer-vertical {
  padding: 20px 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.stream-links {
  margin-top: 25px;
}

.boutton {

}

.btn-back {
  position: absolute;
  top: 45vh;
  left: 15vh;
  font-size: 50px;
}
.btn-next {
  position: absolute;
  top: 45vh;
  right: 15vh;
  font-size: 50px;
}
