// body {
//   background: $black;
// }

// .red-well {
//   background-color: $red;
// }

p, h1 {
  margin: 0;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
}

.wrapper-container {
  padding: 50px 100px;
}

// .wrapper-well {
//   padding: 50px;
//   border-radius: 10px;
// }

.media strong {
  font-size: 28px
}

.media p {
  font-size: 20px;
}
