
<br><br><br><br><br>

<ul class="nav nav-tabs" role="tablist">
  <li id="home-title" role="presentation" class="active"><a id="home-title-design" class="tab"  href="#home" aria-controls="home" role="tab" data-toggle="tab">Watch later</a></li>
  <li id="bookings-title" role="presentation"><a id="bookings-title-design"  class="tab" href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Already watched</a></li>
  <li id="rentals-title" role="presentation"><a id="rentals-title-design"  class="tab" href="#rentals" aria-controls="rentals" role="tab" data-toggle="tab">Blacklist</a></li>
  <li id="rentals-title" role="presentation"><a id="rentals-title-design"  class="tab" href="#rentals" aria-controls="rentals" role="tab" data-toggle="tab">Preferences</a></li>
  <li id="rentals-title" role="presentation"><a id="rentals-title-design"  class="tab" href="#rentals" aria-controls="rentals" role="tab" data-toggle="tab">Profile</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <h1>HOME</h1>
    </div>
    <div role="tabpanel" class="tab-pane" id="bookings">
      <h1>BOOKINGS</h1>
    </div>
    <div role="tabpanel" class="tab-pane" id="rentals">
      <h1>RENTALS</h1>
    </div>
  </div>
