
<div class="banner">
  <div class="banner-content">
      <div class="text-center">
        <h1 id="home-title">HOW DO YOU FEELM ?</h1>
        <form action="">
          <input type="text" name="quick-search">
          <input type="submit" value="Search">
        </form>
      </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-push-5 col-lg-push-6 col-sm-5">
      </div>
    </div>
  </div>
</div>
