<div class="banner" style="background-image: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url('<%= image_path 'redseat.jpg' %>');">
  <div class="banner-content">
    <div>
      <%= image_tag "logo.png", height: 150 %>

      <div id="vue-bot"></div>
    </div>
  </div>
</div>

<br><br>
<div class="container">
  <div class="row icon-home">
    <div class="col-sm-4">
      <div class='text-center'>
        <i class="fas fa-stopwatch"></i>
      </div><br>
      <p>Vous en avez marre de mettre des heures à chercher du contenu? En quelques clics, chacun peut trouver son bonheur ou du moins un bon film !</p>
    </div>
    <div class="col-sm-4">
      <p>Nous proposons un contenu adapté à chaque spectateur. Vous pouvez ajouter vos préférences ou envies du moment et vous laisser guider vers le contenu qui vous correspond !</p><br>
      <div class='text-center'>
        <i class="fas fa-pencil-alt"></i>
      </div>
    </div>
    <div class="col-sm-4">
      <div class='text-center'>
        <i class="far fa-comments"></i>
      </div><br>
      <p>Mais c'est plus que ça, vous pourrez intégrer cette belle communauté qu'est l'AGORA club afin d'échanger vos avis, noter les contenus, gérer votre cinémathèque et plein d'autres fonctionnalités !</p>
    </div>
  </div>
</div>
<br><br>



<script>
  element = document.getElementById('adv-search')
  if (element) {
      element.addEventListener('click', (event) => {
        hidiv = (document.getElementsByClassName('adv-search')[0])
        hidiv.hidden = !hidiv.hidden
      });
  }
</script>
