<div class="banner" style="background-image: url('<%= image_path 'cinema.jpg' %>');">
  <div class="banner-content">
      <div class="text-center">
        <h1 id="home-title">HOW DO YOU FEELM ?</h1>
        <form action="<%= discover_path %>">
          <input type="text" name="quick-search" placeholder="Genre, Actor, Director, Duration ...">
          <input type="submit" value="Search">
          <div class="container">
            <%= render 'components/preferences' %>
          </div>
        </form>
      </div>
  </div>
</div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3>AGORA c'est quoi ?</h3>
        <p> Constatant l'incapacité des sites de streaming à proposer un contenu adapté à chaque spectateur nous avons décider de proposer une solution permettant à chacun de trouver son bonheur ou du moins un bon film ;)</p>
        <p>Arrivé sur la plateforme vous pouvez ajouter vos préférences ou envies du moment et vous laisser guider vers le contenu qui vous correspond !</p>
        <p>Finis le scrolling et les lectures de synopsis interminables, désormais en quelques clics vous pourrez créer votre moment et vous concentrer sur les choses qui comptent.</p>
        <p>Bien sûr AGORA c'est plus que ça, vous pourrez intégrer cette belle communauté qu'est l'AGORA club afin d'échanger vos avis  noter les contenus, gérer votre cinémathèque et pleins d'autres fonctionnalités qu'il vous incombe de découvrir !</p>
        <p>Happy streaming :)</p>
      </div>
      <div class="col-sm-7">
        <br><br>
        <%= image_tag('popcorn.jpg', height: 500, width: 700, crop: :fill) %>
      </div>
    </div>
    <br>
  </div>
</div>


