.card-adv-search {
  padding: 20px;
  background-color: white;
  // opacity: .9;
  width: 750px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  animation-name: example;
  animation-duration: 1s;
}

.custom {
  display: flex;
}

.custom input {
  margin: 12px;
}

.custom label {
  margin: 20px
}

@keyframes example {
    from {opacity:0;}
    to {opacity:1;}
}

