/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: #05070A;
}
.alert-warning {
  background: $red;
  opacity:0.2;
}

.alert-dismissible {
  border-width: 0px;
  border-radius: 0px;
}
